pipeline/ImportDataFromSqlServer.json
{
	"name": "ImportDataFromSqlServer",
	"properties": {
		"description": "Import data from sql server to blob storage",
		"activities": [
			{
				"name": "List tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_schema, table_name FROM INFORMATION_SCHEMA.TABLES\nWHERE table_type = 'BASE TABLE' AND table_schema in ('dbo', 'fore');",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceDataset_SQLServer_schema",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For each table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Import table to raw container",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'<table_schema>'}.@{item().table_name}"
								},
								{
									"name": "Destination",
									"value": "azp-uks-spend-forecasting-development-transformed/@{item().table_name}/@{concat(formatDateTime(utcNow(), 'yyyy/MM/dd/'), item().table_name, '.parquet')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_SQLServer_tables",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"table_schema": "@item().table_schema"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_transformed_container",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(formatDateTime(utcNow(), 'year=yyyy/month=MM/day=dd/'), item().table_name, '.parquet')",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}